  /* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color .5s;
    @include mq($tablet-break) {
      padding: 10px 30px;
    }
  }
  
  .btn + .btn {
    @include mq($tablet-break) {
      margin-left: 10px;
    }

  }

  .default {
    @include btn-bg($color-secondary);
  }
  
  .error {
    @include btn-bg($color-error);
  }
  
  .info {
    @include btn-bg($color-info);
  }
  
  .success {
    @include btn-bg($color-success);
  }
  
  .warning {
    @include btn-bg($color-warning);
  }